<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="csvLoader" class="students.serviceLoadQuestions.CsvLoadServiceImpl">
        <property name="csvData" value="classpath:testItems.csv"/>
    </bean>
    <bean id="askService" class="students.serviceAskQuestions.ServiceAskImpl">
    </bean>
</beans>
